/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/05/2017, 09:55:11
    Author     : MirandaTaxi
*/
body{margin:0; padding: 0;}
#li-contact{
    background-color: #CC3300;
}
#box-contato{
    width:100%;
    margin-bottom: 15px;
}
.top-contato{
    width: 100%;
    padding:5px 0;
    text-align: center;
}
.top-contato h3{
    font-family: 'source_sans_proregular';
    font-size:2em;
    width: 100%;
    color:#FF6600;    
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 0.5;
    margin: 12px 0;
}
.top-contato label{
    font-family: 'source_sans_prolight';
    font-size:1.2em;
    color:#8B8989;
}
article[role=main]{
    width: 100%; 
}

article[role=main] h1{
    font-family: 'source_sans_proregular';
    font-size: 1.5rem;
    color: #FF6600;
}

article[role=main] .lbl-sex{
    font-family: 'source_sans_prolight'; 
    font-size: 1em;
    color: #000000;	
}

article[role=main] label{
    margin-left: 0%;
}

article[role=main] .lbl-standard{
    font-family: 'source_sans_proregular';
    font-size: 1.5em;
    width: 100%;
    margin-top: 1%;
    color: #4a4a4a;
    display: inline-block;
    text-align: left;
}

.div-phone input[type=radio]{
    width: 12px;
    height: 12px;
    outline: 1px solid #000000;
    border: 2px solid #FFFFFF;
}

.message{
    resize:none;    
    text-align: left;
    padding:1%;
    font-family: Arial, helvetica, sans-serif;
    color:#363636;
    font-size:1.2em;
    border:1px solid #000000;    
    outline:none;
    height: 150px !important;
}
.div-message label{ text-align: left; margin:5px 0;}
.box-btt{
    width: 100%;
    margin-bottom: 5%;
    text-align: left;
}
#btt-finish{
    font-family: 'source_sans_proregular';
    text-transform: uppercase;
    font-size: 150%;
    vertical-align: baseline;
    color: #FFFFFF;
    width: 25%;
    margin-left: 15px;
    margin-top: 15px;
    height: 40px;
    border: none;
    background-color: #363636;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 7px;
}
#btt-finish img{
    padding-bottom: 10px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
} 
#btt-finish:hover{
    background-color: #000000;
}
#box-img-contact{
    width:100%;
}
#box-img-contact #img-contact{
    width: 100%;
    margin-top: 67px;
}
::-webkit-input-placeholder { color:#8B8989; font-size: 0.7em; padding-left: 10px;}
input:-moz-placeholder{
    color:#8B8989; font-size: 0.7em; padding-left: 10px;
}
textarea:-moz-placeholder{
    color:#8B8989; font-size: 0.7em; padding-left: 10px;
}
.clearfix:after{
    content:'';
    display: block;
    clear:both;
}
.form-control{ font-size: 19px !important;}

#sendMessageBox{ 
    margin-top: 5%;
}
.modal-content{
    border-radius: unset !important;
}
#box-alerta{ 
    text-align: center;
    display: block;
    font-size: 1.4em;
    background: #363636;
    border-radius: unset;
    color: #fff;
}
#infoMensagem{
    font-family: 'source_sans_proregular';
    font-size: 1.2em;
    text-align: center;
}
.btn-standard{
    font-family: 'source_sans_proregular';
    text-transform: uppercase;
    font-size: 150%;
    vertical-align: baseline;
    color: #FFFFFF;
    width: 25%;
    margin-left: 15px;
    margin-top: 15px;
    height: 40px;
    border: none;
    background-color: #363636;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 7px;
    margin: 15px;
}

@media only screen and (max-width: 480px){ 
    #btt-finish{width:100%; margin-left: 0px;}
}