div.main{
    border: 2px solid #000;
	width: 40%;
	height: 700px;
	margin-right: auto;
	margin-left: auto;
    margin-top: 5%;
	margin-bottom: 5%;	
	text-align: center;
	overflow: hidden;
}

div.main img.img-back{
	z-index: 0;
	width: 720px;
	margin-top: -60px;
	margin-left: -700px;
	
}

div.main div.main-elements{
	z-index: 300;
	margin-top: -720px;	
}

div.main img.img-desc{
	width: 160px;
}

div.main .main-msg{
    display: block;
    font-family: 'source_sans_probold';
    color:#000;
    font-size: 3.5em;
    margin-top: 10px;
}

div.main .sub-msg{
    display: block;
    font-family: 'source_sans_probold';
    color:#000;
    font-size: 2.2em;
}

div.main .sub-msg-min{
    display: block;
    font-family: 'source_sans_probold';
    color:#000;
    font-size: 1.7em;
    margin-top: 10px;
	margin-bottom: 20px;
}

div.main .btn-confirm{
    background: #000;
    font-family: 'source_sans_probold';
    color: #fff;
    font-size: 2.2em;
    padding: 7px 15%;
    border: none;
}
#btn-approved, #btn-refused{
    text-decoration: none;
    color:#fff;
}

@media only screen and (max-width: 1418px){
	div.main{
		width: 60%;
		height: 650px;
	}
	
	div.main img.img-back{
		width: 800px;
		margin-top: -130px;
		margin-left: -650px; 		
	}
	
	div.main div.main-elements{
		margin-top: -740px;
	}

	div.main img.img-desc{
		width: 130px;
	}
	
	div.main .main-msg{
		font-size: 3em;
	}

	div.main .sub-msg{
		font-size: 2em;
	}

	div.main .sub-msg-min{
		font-size: 1.5em;
	}

	div.main .btn-confirm{
		font-size: 2em;
		padding: 7px 20%;
	}
}

@media only screen and (max-width: 988px){
	div.main{
		width: 70%;
	}
	
	div.main img.img-back{
		width: 750px;
		margin-top: -100px;
		margin-left: -400px; 		
	}
	
	div.main div.main-elements{
		margin-top: -680px;
	}

	div.main img.img-desc{
		width: 150px;
	}
	
	div.main .main-msg{
		font-size: 3em;
	}

	div.main .sub-msg{
		font-size: 2em;
	}

	div.main .sub-msg-min{
		font-size: 1.5em;
	}

	div.main .btn-confirm{
		font-size: 2em;
		padding: 7px 20%;
	}

}

@media only screen and (max-width: 724px){
	div.main{
		width: 80%;
		padding: 5%;
		height: 750px;
	}
	
	div.main img.img-back{
		width: 700px;
		margin-top: -50px;
		margin-left: -350px; 		
	}
	
	div.main div.main-elements{
		margin-top: -640px;
	}

	div.main img.img-desc{
		width: 150px;
	}
	
	div.main .main-msg{
		font-size: 2em;
	}

	div.main .sub-msg{
		font-size: 1.5em;
	}

	div.main .sub-msg-min{
		font-size: 1.2em;
	}

	div.main .btn-confirm{
		font-size: 1.5em;
		padding: 7px 30%;
	}
}

@media only screen and (max-width: 418px){
	div.main{
		width: 80%;
		padding: 10%;
		height: 600px;
	}
	
	div.main img.img-back{
		width: 580px;
		margin-top: -50px;
		margin-left: -270px; 		
	}
	
	div.main div.main-elements{
		margin-top: -560px;
	}

	div.main img.img-desc{
		width: 120px;
	}

	div.main .btn-confirm{
		font-size: 1.5em;
	}
	
	div.main .btn-confirm{
		padding: 7px 20%;
	}
}

@media only screen and (max-width: 364px){
	div.main{
		width: 90%;
		padding: 5%;
		height: 500px;
	}
	
	div.main img.img-back{
		width: 450px;
		margin-top: -40px;
		margin-left: -220px; 		
	}
	
	div.main div.main-elements{
		margin-top: -430px;
	}

	div.main img.img-desc{
		width: 90px;
	}

	div.main .btn-confirm{
		font-size: 1em;
		padding: 7px 25%;
	}
}